extends layout

block head
 style.
    body {
      background-color: #eef1f5;
      font-family: sans-serif;
    }

    .main-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .panel {
      width: 500px;
      padding: 30px;
      background-color: #f4f6f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .panel h1 {
      text-align: center;
      font-size: 22px;
      margin-bottom: 25px;
      
    }

    button {
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      background-color: #1976d2;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
    }

    button:hover {
      background-color: #1565c0;
    }

block content
  .panel
    h1 Panel de Admisi贸n

    form(action='/pacientes/crear', method='get')
      button(type='submit', class='boton') Cargar Paciente

    form(action='/admision/nueva', method='get')
      button(type='submit', class='boton') Generar Admisi贸n

    form(action='/habitaciones', method='get')
      button(type='submit', class='boton') Consultar Habitaci贸n

    form(action='/internacion', method='get')
      button(type='submit', class='boton') Internaci贸n